body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* HEADER CSS */

.head  {
  border-bottom: 3px solid #F7882F;
  background: url("https://i.imgur.com/F9yuffl.jpg");
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 15em;
  margin-bottom: 4em;
}

.head h1 {
  font-size : 6em;
  margin-top: 0;
  margin-left: 1.6em;
  padding-top: .5em;
  text-shadow: -2px 2px orange;
}

/* BING BUTTON CSS */

.bingo  {
  background: blue;
}

.noBingo  {
  background: red;
}

/* BOARD CSS */

.blurBoard  {
  display: none;
}

.boardContain {
  border: 5px solid #F7882F;
  box-shadow: -2px 2px 4px black;
  text-align: center;
  width: 80em;
  width: 80em;
  margin: 4em auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  /* background: #DCC7AA; */
}

.piece {
  height: 10em;
  width: 10em;
  min-width: 10em;
  min-height: 10em;
  border: 3px solid black;
  margin: .8em;
  padding: 1em;
  background: white;
  box-shadow: -1px 1px 5px black;
  transition: .2s ease-in-out;
}


.piece:hover {
  cursor: pointer;
  background: #F7C331;
  box-shadow: -3px 3px 5px #F7C331;
}

.piece h2 {
  font-size: 1em;
  text-align: center;
  vertical-align: middle;
  line-height: 9em;
  text-transform: uppercase;
}

/* TOP UPLOAD STYLE */

.uploads  {
  margin: 0 auto;
  min-height: 20em;
  height: auto;
  width: 80%;
  text-align: center;
  padding-bottom: 1em;
}

.blurUploads {
  filter: blur(10px);
  margin: 0 auto;
  min-height: 20em;
  height: auto;
  width: 80%;
  text-align: center;
  padding-bottom: 1em;
}

.fileHold  {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.uploadMe {
  height: 19em;
  width: 15em;
  text-align: center;
  margin: 1em;
  box-shadow: -1px 1px 3px black;
  transition: .2s ease-in-out;
  border-radius: 5px;
}

.uploadMe:hover {
  box-shadow: -3px 3px 5px black;
  background: rgb(245, 244, 242);
  cursor: pointer;
}

.eachFile {
  height: 15em;
  width: 15em;
  text-align: center;
  margin: 1em;
  box-shadow: -2px 2px 4px black;
  transition: .1s ease-in-out;
}

.eachFile:hover {
  filter: brightness(50%);
  cursor: pointer;
}

.eachFile img {
  margin-top: 0;
  margin-bottom: 0;
}

.dogPics  {
  height: 15em;
  width: 100%;
  margin: .5em auto;
}

.dogInfo  {
  box-shadow: -1px 1px 5px black;
  margin-top: 0;
  border-radius: 0, 0, 5px, 5px;
}

.eachFile h3  {
  border-bottom: 1px solid black;
  margin: 0;
  padding: 5px;
}

.eachFile h4  {
  margin-top: 5px;
  padding-bottom: 5px;
}

/* MODAL CSS */

.modal {
  display: none;
}

.modalShow  {
  position: absolute;
  right: 0;
  left: 0;
  top: 18em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60em;
  height: 30em;
  padding: 1em;
  border: 5px solid #F7882F ;
  background: rgb(245, 244, 242);
  padding: 1em;
  margin: 1em auto;
  box-shadow: -1px 2px 4px black;
}

.modalShow label {
  font-size: 1.6em;
}

.modalShow input[type="text"] {
  width: 55em;
  height: 3em;
  font-size: 1em;
  border-radius: 3px;
  margin: 1em;
}

form input[type="submit"] {
  border: 3px solid #F7882F;
  height: 4em;
  width: 15em;
  text-transform: uppercase;
  font-weight:bold;
  margin-left: 1em;
  margin-top: 1em;
  transition: .3s ease-in-out;
  padding: 16px 32px;
  font-size: 1.02em;
  border-radius: 5px;
}

form input[type="submit"]:hover {
  background: #6B7A8F;
  cursor: pointer;
}

#modalButton {
  background: red;
  height: 2.5em;
  color: white;
  text-transform: uppercase;
  border: 3px solid grey;
  border-radius: 5psx;
  transition: .2s ease-in-out;
}

#modalButton:hover {
  background: maroon;
  cursor: pointer;
}

/* FOOTER  */

.noFooter {
  display: none;
}

.footer {
  height:12em;
  width: 100%;
  background: #F7882F;
  border-top: 5px solid #6B7A8F;
}

.listContain  {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.listOne, .listTwo  {
  line-height: 2.5em;
  font-size: 1.2em;
  color: white;
}

li {
  list-style: none;
  transition: .2s ease-in-out;
}

li:hover {
  color: #6B7A8F;
  cursor: pointer;
}

.hide {
  display: none;
}


.show {
  height: 5em;
  width: 20em;
  margin: 0 auto;
  text-align: center;
}

.show button {
  background: #F7882F;
  height: 3em;
  width: 10em;
  margin: 1em auto;
  border: 4px solid black;
  border-radius: 5px;
  font-size: 1.2em;
  font-weight: bold;
  transition: .3s ease-in-out;
}

.show button:hover {
  background: #6B7A8F;
  cursor: pointer;
  color: white;
}
